body {
    max-width: 1200px;
    margin: auto;
    box-sizing: content-box;
    /*box-sizing: border-box;              */
    background: rgb(220, 226, 165);
}


/*-------------------------------------------------- section grid container  */


/*
.grid-container {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    padding: 5px 10px;
}
*/

.background {
    background: #ecd8a1;
    margin: 5px;
    border: 2px solid #02313a;
    border-radius: 5px;
}

header,
footer,
main {
    color: #302f06;
    /*    margin-top: 50px;*/
}


/*-------------------------------------------------- nav container  */

ul.menu {
    display: flex;
    /*flex-basis: content;    ??????????????*/
    justify-content: center;
    align-self: center;
}

.menu,
.submenu {
    list-style: none;
    margin: 3px;
    border: 1px solid red;
    padding-left: 10px;
}

.menu>li>p {
    margin: 0px 50px 0px 50px;
}

.submenu>li>p {
    margin: 0px;
    padding: 0px 0px 0px 50px;
}

ul.menu>li>p:hover {
    cursor: pointer;
    color: white;
}

ul.submenu {
    display: none;
}

ul.menu>li:hover>ul.submenu {
    display: block;
}

ul.submenu>li>p:hover {
    cursor: pointer;
    color: rgb(197, 28, 28);
}


/*-------------------------------------------------- main container  */

.main-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 5px 10px;
}

.grid_1 {
    grid-column: 1/7;
    grid-row: 1/5;
}

.grid_2 {
    grid-column: 1/7;
    grid-row: 5/6;
    justify-content: center;
    align-content: center;
}

.grid_3 {
    grid-column: 7/11;
    grid-row: 1/4;
}

.grid_4 {
    grid-column: 7/11;
    grid-row: 4/6;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4 {
    border: 1px solid red;
    /*    margin: auto;*/
    padding: 20px;
}

#foto_big {
    width: 100%;
}

.fotos_small>img:hover {
    cursor: pointer;
}

.fotos_small {
    display: flex;
    justify-content: center;
    border: 1px solid green;
}

#foto_1,
#foto_2,
#foto_3 {
    margin: 2px;
    height: 5vmax;
}

input[type=radio]:hover {
    cursor: pointer;
}

.inp_set {
    font-size: 16pt;
}

#set_name {
    color: #02313a;
    font-weight: bold;
}


/*
#ul_side>li:hover {
    cursor: pointer;
    color: red;
}
*/

@media (min-width: 600px) and (max-width: 800px) {
    .inp_set {
        font-size: 14pt;
    }
}

@media (max-width: 600px) {
    .grid_1 {
        grid-column: 1/10;
        grid-row: 1/2;
    }
    .grid_2 {
        grid-column: 10/11;
        grid-row: 1/2;
        justify-content: center;
        align-content: center;
    }
    .grid_3 {
        grid-column: 1/11;
        grid-row: 2/3;
    }
    .grid_4 {
        grid-column: 1/11;
        grid-row: 3/4;
    }
    .fotos_small {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }
}